.key-button
  display: flex
  justify-content: center
  align-items: center
  width: 80px
  height: 80px
  border: 2px solid white
  border-radius: 10px
  transition: .1s ease-out
  box-shadow: 0 0 5px #676767
  &.not-write
    opacity: .4
  &.active
    background-color: white
    transform-origin: bottom center
    box-shadow: 0 0 10px var(--bg-color)
    transform: scaleY(95%)
    .key-button__keys
      .key-button__key
        color: var(--bg-color)
        svg
          path
            fill: var(--bg-color)
  .key-button__keys
    .key-button__key
      color: white
      transition: .1s ease-out
      font-size: 2rem
      line-height: 100%
      &.common
        font-size: 1.25rem
      &.Upper
        text-transform: uppercase
  &.key-button--Backspace
    display: flex
    width: calc(80px * 2.2)

  &.key-button--Tab
    width: calc(80px * 1.5)
  &.key-button--Slash
    width: calc(80px * 1.7)

  &.key-button--Caps
    width: calc(80px * 1.9)
  &.key-button--Enter
    width: calc(80px * 2.4)
    flex: 1

  &.key-button--ShiftL
    width: calc(80px * 2.5)
  &.key-button--ShiftR
    width: calc(80px * 2.8)
    flex: 1

  &.key-button--Space
    margin-left: calc(80px * 1.4 * 3)
    width: calc(80px * 8)


